body {
    height: auto;
}
#menu img {
    text-align: center;
    width: 100%;
    max-width: 50px;
    max-height: 50px;
    margin: auto;
    opacity: 0.8;
}
#menu .selected a img {
	opacity: 1;
}
#menu .center {
    text-align: center;
}
#menu {
    display: inline-block;
    margin: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
#menu .fix{
	margin-bottom: 0px;
}
/*
#menu .fix:hover{
	background-color: inherit !important;
}
#menu .monmenu:hover {
    background-color: rgba(255, 255, 255, 0.2);
}*/
#menu .monmenu {
    margin-left: 0px;
	margin-bottom: 0px;
    text-align: center;
    padding: 0.5% 0px 0.5% 0px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.2);
    max-height: 70px;
	font-size: 1px;
	min-height: 40px;
	min-width: 40px;

}
#menu .selected {
/*background-color: rgba(255, 255, 255, 0.2);*/
}
/* color: rgba(118,161,1,1);*/

.ui-dialog {
	z-index: 2000;
}
.cadre_marges {
    padding-top: 1% ;
    padding-bottom: 0px;
	padding-left : 1% !important;
	padding-right : 0px !important;
}
.cadre_principal {
    box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.5);
}
.cadre_imagette {
    position: absolute;
    margin-top: 2px;
    margin-left: 5px;
    opacity: 0.8;
    max-width: 100%;
}
.cadre_imagette  {
    height: 30px;
    width: 30px;
	font-size: 30px;
	color: white;
}
.cadre_imagette img {
    height: 30px;
    width: 30px;
}
.cadre_titre {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 10px;
    font-family: Arial;
    font-weight: bold;
}
.cadre_contenu {
	position : relative;
  /*  text-align: center;*/
    /*min-height:150px; */
    
    background-color: rgba(0, 0, 0, 0.5);
	display: block;
	overflow: hidden;
	text-align: center;
	padding: 2px;
	vertical-align: middle;
}
.cadre_contenu .image-widget {
    margin: auto;
}
.eqLogic-widget, .image-widget  {
    /*border: 1px rgba(200, 200, 200) dashed*/
    border-radius: 0px;
	display: inline-block;
	position: relative;
	vertical-align: top;
}
.div_displayObject .eqLogic-widget{
	position: relative;
}
.row {
    margin-left: 0px !important;
    margin-right: 1% !important;
}

/************************************
**  PERSONNALISATION 
*************************************/


/*Couleurs personnalisée*/
.highcharts-color-0 {
	fill: rgba(105,143,1,1);

}
/* taille personnalisée pour widget*/
.summary-widget {
	width: 100%
}


/************************************
**  PERSONNALISATION pour design films
*************************************/

.films .btn-sm {
	max-height:none; 
	height : auto; 
	width : 80px;	
}
.films .btn{
	/*font-size: 30px !important; 	*/
	height:auto;
}
.films .title{
	max-height:30px !important;
	height : 30px !important;
}
.films .cmdName  {
	/*font-size: 30px !important;*/
}
.films .content-sm, .films .iconCmd>i  {
	max-height: 100px !important;
	height : 60px !important;
	font-size: 40px !important;
	color : rgba(105,143,1,1);
	
}

